:root {
    --gray1: #333333;
    --gray2: #4F4F4F;
    --gray3: #828282;
    --gray4: #BDBDBD;
    --gray6: #F2F2F2;
    --yellow: #F2C94C;
}

* {
    font-family: 'Roboto Mono', monospace;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 24px;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--gray6);
}

button {
    color: var(--gray6);
    border: none;
    padding: 16px 24px;
    border-radius: 4px;
}

button:hover {
    filter: brightness(1.1);
}

#clear {
    color: var(--gray6);
    border: 1px solid var(--gray4);
    background-color: var(--gray2);
    font-size: 16px;
    line-height: 16px;
    padding: 4px;
    position: absolute;
    bottom: 8px;
    left: 8px;
    z-index:100;
}

.calculator-body {
    background-color: var(--gray1);
    display:flex;
    flex-direction: column;
    max-width: 276px;
    padding: 16px;
    border-radius: 16px;
}

.display {
    position: relative;
    background-color: var(--gray2);
    border-radius: 8px;
    height: 112px;
    margin-bottom: 16px;
    overflow: hidden;
}

.digit {
    background-color: var(--gray3);
}

.equal {
    background-color: var(--yellow);
}

.keyboard {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.operator {
    background-color: var(--gray4);
}

.result {
    color: var(--gray6);
    justify-content: end;
}

.result-container {
    position: absolute;
    bottom: 8px;
    right: 8px;
    display: flex;
}

.row {
    display: flex;
    justify-content: space-evenly;
    column-gap: 8px;
}